.mat:not([type]), .mat[type=text]:not(.browser-default), .mat[type=password]:not(.browser-default), .mat[type=email]:not(.browser-default), .mat[type=url]:not(.browser-default), .mat[type=time]:not(.browser-default), .mat[type=date]:not(.browser-default), .mat[type=datetime]:not(.browser-default), .mat[type=datetime-local]:not(.browser-default), .mat[type=tel]:not(.browser-default), .mat[type=number]:not(.browser-default), .mat[type=search]:not(.browser-default), textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.mat {
    line-height: normal;
}

button, .mat, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button, .mat, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.mat {
    line-height: normal;
}

button, .mat, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}